.skew-bar {
  width: 100%;
  height: 10px;
  background: rgb(38, 50, 56);
  background: linear-gradient(
    115deg,
    var(--primary) 0%,
    var(--primary) 55%,
    var(--dark) 55%
  );
}

.skew-decorations {
  position: relative;
}

.skew-decorations::after {
  content: "";
  display: block;
  width: 20%;
  height: 8px;
  background: var(--primary);
  transform: skew(25deg);
  margin: 4px auto 0px auto;
}

.logo-promut {
  width: 140px;
  height: auto;
  margin-left: -15px;
}
.landing-title {
  font-size: 44px;
  font-weight: 700;
  margin-left: 16px;
  line-height: 1.2;
  width: 65%;
}

.dramatic-subtitle {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0 !important;
}

.container-main {
  margin: 0 120px 90px 120px;
}
.subtitle {
  font-size: 26px;
}
.container-navbar {
  margin: 0 120px;
}
.landing-row-container {
  margin-top: 20px !important;
}
.landing-row-container p {
  font-size: 16px;
  font-weight: 450;
}
.footer {
  margin-top: 0 !important;
}
