.tour-guide {
  position: fixed;
  left: 25px;
  bottom: 0px;
  max-width: 400px;
  display: flex;
  align-items: flex-end;
  background-color: white;
  transition: bottom 0.2s linear;
}

.tour-guide.hidden {
  bottom: -100%;
}

.nile-resurrect-btn {
  display: flex;
  align-items: center;
  color: #006293;
  font-weight: 500;
  padding-left: 10px;
}
.nile-resurrect-btn p {
  margin-left: 20px;
  margin-bottom: -3px;
}

@media screen and (max-width: 576px) {
  .tour-guide {
    display: none;
  }
}

.tour-guide .tour-guide-bubble {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  max-width: 21vw;
  background-color: #caf0ec;
  color: #00473c;
  top: 7px;
}

/* .tour-guide .tour-guide-bubble:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  position: absolute;
  bottom: 0.5rem;
  transform: rotate(45deg);
} */

.tour-guide .tour-guide-controls {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
