celery
flask
flask-login
Flask-SQLAlchemy
redis
psycopg2-binary
gevent
gunicorn
Werkzeug
conllu
SQLAlchemy
Flask-Migrate
jsmin
flask-babel
flask-dropzone
rcssmin
pyyaml
flask-dance
nltk
pynvml
sentencepiece
torch>=1.12.0
torchtext==0.13.1
importlib_metadata
markupsafe
pyter3
xlsxwriter
namegenerator
psutil
pymarian
chardet
numpy==1.26.4
pytz
